---
import BaseLayout from "../layouts/BaseLayout.astro";
import DeathStGood from "../components/DeathStGood.astro";
import GitHub from "../components/GitHub.astro";

const pageTitle = "www.koba-masa.com"
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <DeathStGood />
  <GitHub />
</BaseLayout>
