---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { BlogLink } from '@/components/common/BlogLink';

import { getCollection } from 'astro:content';

const posts = await getCollection('technical');
const baseUrl = '/technical';
---

<BaseLayout pageTitle="技術資料">
  <h1>技術資料</h1>

  <h2>記事一覧</h2>
  <ul>
    {posts.map((post) => (
      <li>
        <BlogLink text={post.data.title} url={`${baseUrl}/${post.slug}`} tags={post.data.tags}/>
      </li>
    ))}
  </ul>
</BaseLayout>
