---
const githubUrl = 'https://github.com/koba-masa'
const statsUrl = 'https://github-readme-stats.vercel.app/api?username=koba-masa&theme=tokyonight&cache_seconds=86400&show_icons=true&count_private=true'
---

<div class="github">
  <div class="stats">
    <a href={githubUrl} target="_blank" rel="noopener noreferrer">
      <img src={statsUrl} alt="GitHub stats" />
    </a>
  </div>
</div>

<style>
.github {
  width: 100%;
  height: 100%;
  display: flex;
}

.stats {
  margin: 0 auto;
}
</style>
