---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Tag } from '@/components/common/Tag';

export async function getStaticPaths() {
  const entries = await getCollection('technical');
  return entries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Content />
  <h2>タグ</h2>
  <Tag tags={entry.data.tags} />
</BaseLayout>
